.seopro-panel{
	background-color: #FBFBFB;
	border: #CCC 1px solid;
	border-radius: 2px;
	padding: 2px 3px;
}
.seopro-counter{
	position: absolute;
	z-index: 2;
	top: -21px;
	right: 0;
	text-align: right;
	font-size: 12px;
	line-height: 20px;
}
.seopro-counter-wrap{
	background: #FBFBFB;
	border: 1px #CDCDCD solid;
	border-bottom: none;
	text-align: center;
	border-radius: 8px 8px 0 0;
	padding: 4px 14px 0;
	line-height: 17px;
	float: left;
	margin-left: 5px;
}

.x-form-focus + .seopro-counter .seopro-counter-wrap{
    background-color: white;
    border-color:#658F1A;
    border-bottom-color: white;
}
.x-form-item.x-tab-item{
	position: relative;
}
#seopro-google-logo{
	text-align: center;
}
#seopro-google-logo img{
	width: 70%;
}
.x-form-label-top .x-form-item {
	margin-top: 3px;
}
#seopro-google-title{
	color: #12C;
	font-size: medium;
}

#seopro-google-url{
	color: #093;
	margin-bottom: 1px;
}

#seopro-google-description{
	color: #222;
	line-height: 1.24;
}
.green{
	color: #658F1A;
}
.seopro-counter .red{
	color: #707070 !important;
}
.seopro-counter-keywords.green{
	background: url(../img/thumb-up.png) no-repeat 10px 3px #FBFBFB;
}
.seopro-counter-keywords.red{
	background: url(../img/thumb-down.png) no-repeat 10px 4px #FBFBFB;
}
#seopro-resource-alias .seopro-counter-chars{
	display: none;
}
.seopro-counter-keywords{
	padding-left: 30px;
}
.x-btn-seopro button{
/*	background-image: url(../img/tips.png);
	background-position: 0px 0px !important;*/
	color:#ccc !important;
	text-shadow:0 1px -1px #111 !important;
}
.x-btn-seopro button:hover{
	color: #f2f2f2 !important;
}
.x-btn-seopro{
/*	margin-left: 10px;
*/	background:-webkit-gradient( linear,left bottom,left top,color-stop(0.32,#555),color-stop(0.69,#666),color-stop(0,#555) );
	border:1px solid #1E1E1E;
	margin-left: 10px;
}
/*.x-btn-blue{
	background:#4f93cf;
	background:-moz-linear-gradient(center bottom,#4f93cf 0%,#9ccbea 100%) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#9ccbea),color-stop(100%,#4f93cf));
	background:-webkit-linear-gradient(center bottom,#4f93cf 0%,#9ccbea 100%);
	background:-o-linear-gradient(center bottom,#4f93cf 0%,#9ccbea 100%);
	background:-ms-linear-gradient(center bottom,#4f93cf 0%,#9ccbea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#9ccbea,endColorstr=#4f93cf,GradientType=0);
	background:linear-gradient(center bottom,#4f93cf 0%,#9ccbea 100%);
	text-shadow:0 1px 0 #9ccbea;
	border:1px solid #3b77ab;
	color:#14296f !important;
}*/


.x-btn-blue:hover{
/*	background:#4f93cf;
	background:-moz-linear-gradient(center bottom,#4f93cf 0%,#bcd7e9 100%) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#bcd7e9),color-stop(100%,#4f93cf));
	background:-webkit-linear-gradient(center bottom,#4f93cf 0%,#bcd7e9 100%);
	background:-o-linear-gradient(center bottom,#4f93cf 0%,#bcd7e9 100%);
	background:-ms-linear-gradient(center bottom,#4f93cf 0%,#bcd7e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bcd7e9,endColorstr=#4f93cf,GradientType=0);
	background:linear-gradient(center bottom,#4f93cf 0%,#bcd7e9 100%);*/
}
